# Raw data
data/raw/

# Reference files
data/reference/*.fa.gz
data/reference/salmon_index/

# Trimmed reads
results/tmp_trimmed/

# Salmon outputs
results/salmon_quants/
data/processed/

# FastQC
results/qc/

# Fastq
*.fastq.gz