# Raw data
data/raw/*
!data/raw/README.md

# Reference data
data/reference/*
!data/reference/README.md

# Trimmed reads
results/tmp_trimmed/

# Salmon outputs
results/salmon_quants/
data/processed/

# FastQC
results/qc/

# Fastq
*.fastq.gz

# Logs and temporary files
*.log
nohup.out
scripts/*.out